body{font-family: sans-serif;
	 color: #1976d2;

}


.progresso {margin-bottom: 100px auto;


}


.progresso img {width: 50px; 
	            margin: 100px auto;
	            margin-bottom: 20px;


}


ul {text-align: center;

}

ul li {display: inline-block;
	   width: 200px; 
	   position: relative;

}

ul li .fas {background: #ccc; 
	        width: 28px; 
	        height: 28px; 
	        color: #fff; 
	        border-radius: 50%;
	        padding: 6px;
}

ul li .fas::after {content: ''; 
                   background: #ccc;  
                   width: 205px;
                   height: 5px;
                   display: block;
                   position: absolute;
                   left: 0; 
                   top: 190px; 
                   z-index: -1;
}      


ul li:nth-child(3) .fas {background: #90caf9; 


}

ul li:nth-child(3) .fas::after {background: #90caf9; 


}



ul li:nth-child(1) .fas,
ul li:nth-child(2) .fas {background: #1976d2; 


}

ul li:nth-child(1) .fas::after,
ul li:nth-child(2) .fas::after {background: #1976d2; 


}

ul li:first-child .fas::after {width: 105px; 
	                           left: 100px; 

}

ul li:last-child .fas::after {width: 105px; 

}